.photo {
    background: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 3px;
    border: none;
}

.photo:hover {
    box-shadow: 0 14px 28px #c4daff, 0 10px 10px #c4daff;
    background: linear-gradient(-45deg, #c4daff 0%, #009efd 100%);
    padding: 3px;
}

.backimg {
    background: #2ebf91;
    background: linear-gradient(-45deg, #c4daff 0%, #009efd 100%);
    padding: 1px;
    border-radius: 2px;
}

.recipename {
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background: none;
}

.number-of-persons {
    font-size: 1em;
    font-weight: 300;
    background: none;
}

.search-entry {
   padding:5px;
   border-radius:20px;
}
